<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Lat:</b>
  <%= @item.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @item.lon %>
</p>

<p>
  <b>Building:</b>
  <%= @item.building %>
</p>

<p>
  <b>Details:</b>
  <%= @item.details %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
